{% extends "base.html" %} {% block content %} {% load static %}
<script src="{% static 'main.js' %}"></script>
<script src="{% static 'all/basic.js' %}"></script>
<script src="{% static 'all/cores.js' %}"></script>
<script src="{% static 'all/performance.js' %}"></script>
<script src="{% static 'all/buffer.js' %}"></script>
<script src="https://cdn.jsdelivr.net/gh/AssemblyScript/wabt.js@1.0.23/index.js"></script>

{% csrf_token %}

<!-- <p style="padding-left: 2rem; padding-right: 2rem; padding-top: 2rem">
  After running the benchmarks, their results will automatically be uploaded to
  our server. You will also be able to browse the visualized results yourself.
  In the top bar you are able to run each benchmark on its own and inspect the
  results in an interactive chart. These benchmark runs will
  <strong>not</strong> be uploaded. If you are interested you can also find an
  explanation of the benchmark and the source code there.
</p> -->
<div
  class="alert alert-primary"
  role="alert"
  style="
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    text-align: center;
  "
>
  <h4>Please follow these steps carefully.</h4>
</div>

<h5 style="padding-left: 2rem; padding-right: 2rem; padding-top: 3rem">
  Step 0 - Please provide your WorkerID.
</h5>
<p style="padding-left: 2rem; padding-right: 2rem">
  Please note that we will not be able to approve your assignment, if your ID is
  incorrect!
</p>

<div style="padding-left: 2rem; padding-right: 2rem; padding-top: 1rem">
  <label for="model" class="form-label"><strong>WorkerID</strong></label>
  <input
    id="workerid"
    name="workerid"
    type="text"
    class="form-control"
    placeholder="Please enter WorkerID here"
    aria-label="WorkerID"
    required
  />
  <div class="invalid-feedback">Please provide a WorkerID.</div>
</div>

<h5 style="padding-left: 2rem; padding-right: 2rem; padding-top: 3rem">
  Step 1 - Determining your CPU model.
</h5>
<p style="padding-left: 2rem; padding-right: 2rem">
  Please fill out the text field below with your CPU model. To keep our database
  consistent please use the following method to determine your CPU model.
</p>

<div
  class="accordion"
  id="modelmethodsAccordion"
  style="padding-left: 2rem; padding-right: 2rem"
>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Windows
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="headingOne"
      data-bs-parent="#modelmethodsAccordion"
    >
      <div class="accordion-body">
        <ol>
          <li>
            Press <kbd><kbd>win</kbd> + <kbd>r</kbd></kbd
            >. This should open a small window in the lower left corner.
          </li>
          <li>
            Type <code>cmd.exe</code> and hit <kbd>Enter</kbd>. This should open
            a command prompt.
          </li>
          <li>
            Type <code>wmic cpu get name</code> in the prompt and hit
            <kbd>Enter</kbd>. The output should look something like this.
            <code>
              <p>Name</p>
              <p style="margin-top: -1rem">
                Intel(R) Core(TM) i9-10900K CPU @ 3.70GHz
              </p>
            </code>
          </li>
          <li>
            Your CPU model is the second line of the output. In this case:
            <code> Intel(R) Core(TM) i9-10900K CPU @ 3.70GHz </code>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        Linux
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwo"
      data-bs-parent="#modelmethodsAccordion"
    >
      <div class="accordion-body">
        <ol>
          <li>Open a terminal.</li>
          <li>
            Type <code>grep 'model name' /proc/cpuinfo | uniq</code> and hit
            <kbd>Enter</kbd>. The output should look something like this:
            <code>
              <p>model name: Intel(R) Core(TM) i9-10900K CPU @ 3.70GHz</p>
            </code>
          </li>
          <li>
            Your CPU model is the second part of the output. In this case:
            <code> Intel(R) Core(TM) i9-10900K CPU @ 3.70GHz </code>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo2">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo2"
        aria-expanded="false"
        aria-controls="collapseTwo2"
      >
        MacOS
      </button>
    </h2>
    <div
      id="collapseTwo2"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwo2"
      data-bs-parent="#modelmethodsAccordion"
    >
      <div class="accordion-body">
        <ol>
          <li>Open a terminal.</li>
          <li>
            Type <code>sysctl machdep.cpu.brand_string</code> and hit
            <kbd>Enter</kbd>. The output should look something like this:
            <code>
              <p>
                machdep.cpu.brand_string: Intel(R) Core(TM) i9-10900K CPU @
                3.70GHz
              </p>
            </code>
          </li>
          <li>
            Your CPU model is the second part of the output. In this case:
            <code> Intel(R) Core(TM) i9-10900K CPU @ 3.70GHz </code>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        Android
      </button>
    </h2>
    <div
      id="collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="headingThree"
      data-bs-parent="#modelmethodsAccordion"
    >
      <div class="accordion-body">
        Unfortunately, there is no direct way of determining your CPU model on
        Android. Please use your favorite search engine to determine your CPU
        model or simply state the name of your mobile device.
        <strong
          >Also be aware that your RAM might not suffice for our benchmarks.
          There may be crashes.</strong
        >
      </div>
    </div>
  </div>
</div>

<div style="padding-left: 2rem; padding-right: 2rem; padding-top: 2rem">
  <label for="model" class="form-label"><strong>CPU model</strong></label>
  <input
    id="model"
    name="model"
    type="text"
    class="form-control"
    placeholder="Please enter your CPU model here"
    aria-label="CPU model"
    required
  />
  <div class="invalid-feedback">Please provide a CPU model.</div>
</div>

<h5 style="padding-left: 2rem; padding-right: 2rem; padding-top: 3rem">
  Step 2 - Do you have enough RAM capacity?
</h5>
<p style="padding-left: 2rem; padding-right: 2rem">
  Our benchmarks are designed for machines with at least 6 GB of RAM capacity.
  If you have <strong>less than 6 GB</strong> or are unsure of your capacity,
  please check the box below.
</p>

<div class="form-check" style="display: flex; justify-content: center">
  <input
    class="form-check-input"
    type="checkbox"
    value=""
    id="lowMemory"
    style="width: 30px; height: 30px"
  />
  <label
    class="form-check-label"
    for="lowMemory"
    style="padding-left: 0.5rem; height: 30px; line-height: 36px"
  >
    <strong>I have less than 6GB of RAM.</strong>
  </label>
</div>

<h5 style="padding-left: 2rem; padding-right: 2rem; padding-top: 3rem">
  Step 3 - Please connect your device to a charger.
</h5>
<p style="padding-left: 2rem; padding-right: 2rem">
  If you are on a mobile device please also make sure the device does
  <strong>not</strong> turn off and is connected to a
  <strong>charger</strong> for accurate results. If the status shown is
  <strong>incorrect or unknown</strong>, just ignore it and continue.
</p>

<div style="display: flex; justify-content: center">
  <button
    type="button"
    class="btn btn-secondary btn-lg"
    onclick="checkChargingStatus()"
    style="height: 4rem"
    id="chargingbutton"
  >
    <p id="chargingstatus">Unknown</p>
    <p style="font-size: 0.7rem; margin-top: -1rem">
      Click to check charging status
    </p>
  </button>
</div>

<h5 style="padding-left: 2rem; padding-right: 2rem; padding-top: 3rem">
  Step 4 - Running our benchmarks.
</h5>
<p style="padding-left: 2rem; padding-right: 2rem">
  Please do <strong>not</strong> do anything else on your computer while running
  our benchmarks. To ensure that you leave the tab open, you will have to press
  the button at the bottom at least every 30 seconds. Press the START-button to
  start.
</p>

<div style="display: flex; justify-content: center; margin: 3rem">
  <button
    id="startButton"
    type="button"
    class="btn btn-primary btn-lg"
    onclick="startProfilers()"
    style="width: 6.5rem"
  >
    Start
  </button>
</div>

<div class="container">
  <div class="container-lg" style="margin: 0, auto; padding-bottom: 1rem">
    <p style="text-align: center">Total Progress</p>
    <div class="progress">
      <div
        id="totalBar"
        class="progress-bar"
        role="progressbar"
        style="width: 0%"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-lg" style="margin: 0, auto; padding-bottom: 3rem">
    <p style="text-align: center">Current Benchmark</p>
    <div class="progress">
      <div
        id="mainBar"
        class="progress-bar"
        role="progressbar"
        style="width: 0%"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
</div>

<div class="container text-center" id="waitingcontainer" hidden>
  <div
    class="spinner-border text-primary"
    style="width: 3rem; height: 3rem"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="container text-center" id="waitingcontainer2" hidden>
  <strong>Uploading results...</strong>
</div>

<div class="container" id="resultcontainer" hidden>
  <div
    style="margin-bottom: 1rem; text-align: center"
    class="alert alert-success"
    role="alert"
  >
    Everything was successful! Thank you very much! ❤️
  </div>
  <div
    style="margin-bottom: 2rem; text-align: center"
    class="alert alert-primary"
    role="alert"
    id="code"
  >
    <strong>Your Surveycode: </strong>
  </div>
  <div class="accordion" id="resultAccordion"></div>
</div>

<div
  class="container"
  id="attentioncontainer"
  style="display: flex; justify-content: center; margin-top: 3rem"
>
  <button
    id="attentionButton"
    type="button"
    class="btn btn-lg btn-primary"
    onclick="resetTimer()"
    style="width: 12rem"
  >
    Click me again in under <strong id="seconds">30</strong> seconds
  </button>
</div>

<script>
  let stop = false;
  let interval_id;
  let timer = 30;
  function resetTimer() {
    timer = 30;
    document.getElementById("seconds").innerText = timer;
    document.getElementById("attentionButton").classList.remove("btn-danger");
    document.getElementById("attentionButton").classList.remove("btn-warning");
    document.getElementById("attentionButton").classList.remove("btn-primary");

    document.getElementById("attentionButton").classList.add("btn-primary");
  }

  function dec_timer() {
    timer += -1;
    document.getElementById("seconds").innerText = timer;
    if (timer < 1) {
      clearInterval(interval_id);
      let errorcontainer = document.createElement("div");
      errorcontainer.classList = "alert alert-danger";
      errorcontainer.setAttribute("role", "alert");
      errorcontainer.innerHTML =
        "<p><strong>It appears you did not pay attention!</strong></p> <p>Reload the page and try again if you want. Click the button at the bottom at least every 30 seconds.</p>";
      errorcontainer.style =
        "position: fixed; top: 50%; left: 50%; text-align: center; margin-top: -100px; margin-left: -200px; height: 150px; width: 400px;";
      document.body.appendChild(errorcontainer);
      stop = true;
    } else if (timer < 5) {
      document
        .getElementById("attentionButton")
        .classList.remove("btn-warning");
      document.getElementById("attentionButton").classList.add("btn-danger");
    } else if (timer < 15) {
      document
        .getElementById("attentionButton")
        .classList.remove("btn-primary");
      document.getElementById("attentionButton").classList.add("btn-warning");
    }
  }
</script>
{% endblock %}
