{% extends "base.html" %} {% block content %} {% load static %}
<script src="{% static 'main.js' %}"></script>
<script src="{% static 'all/basic.js' %}"></script>
<script src="{% static 'all/cores.js' %}"></script>
<script src="{% static 'all/performance.js' %}"></script>
<script src="{% static 'all/buffer.js' %}"></script>
<script src="https://cdn.jsdelivr.net/gh/AssemblyScript/wabt.js@1.0.23/index.js"></script>

{% csrf_token %}

<div style="display: flex; justify-content: center; padding-bottom: 3rem;">
  <div>
    <h5 style="padding-left: 2rem; padding-right: 2rem; padding-top: 3rem">
      Checklist
    </h5>
    <ul class="list-group">
      <li class="list-group-item">RAM Capacity above 6GB</li>
      <li class="list-group-item">Connect mobile devices to a charger</li>
      <li class="list-group-item">Leave this tab open in the foreground</li>
    </ul>
  </div>
</div>

<div style="display: flex; justify-content: center;">
  <button
    type="button"
    class="btn btn-secondary btn-lg"
    onclick="checkChargingStatus()"
    style="height: 4rem"
    id="chargingbutton"
  >
    <p id="chargingstatus">Unknown</p>
    <p style="font-size: 0.7rem; margin-top: -1rem">
      Click to check charging status
    </p>
  </button>
</div>

<div style="display: flex; justify-content: center; margin: 3rem">
  <button
    id="startButton"
    type="button"
    class="btn btn-primary btn-lg"
    onclick="startProfilers()"
    style="width: 6.5rem"
  >
    Start
  </button>
</div>

<div class="container">
  <div class="container-lg" style="margin: 0, auto; padding-bottom: 1rem">
    <p style="text-align: center">Total Progress</p>
    <div class="progress">
      <div
        id="totalBar"
        class="progress-bar"
        role="progressbar"
        style="width: 0%"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-lg" style="margin: 0, auto; padding-bottom: 3rem">
    <p style="text-align: center">Current Benchmark</p>
    <div class="progress">
      <div
        id="mainBar"
        class="progress-bar"
        role="progressbar"
        style="width: 0%"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
</div>

<div class="container text-center" id="waitingcontainer" hidden>
  <div
    class="spinner-border text-primary"
    style="width: 3rem; height: 3rem"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="container text-center" id="waitingcontainer2" hidden>
  <strong>Uploading results...</strong>
</div>

<div class="container" id="resultcontainer" hidden>
  <div
    style="margin-bottom: 1rem; text-align: center"
    class="alert alert-success"
    role="alert"
  >
    Everything was successful! Thank you very much! ❤️
  </div>
  <div
    style="margin-bottom: 2rem; text-align: center"
    class="alert alert-primary"
    role="alert"
    id="code"
  >
    <strong>Your Surveycode: </strong>
  </div>
  <div class="accordion" id="resultAccordion"></div>
</div>
{% endblock %}
