<!-- prettier-ignore -->

{% extends "profiler.html" %}

{% block headline %} Timer Precision {% endblock %} 

{% block scripts %} {% load static %}
<script src="{% static 'misc/timer/precision.js' %}"></script>
{% endblock %}

<!-- prettier-ignore -->
{% block text %} 
This benchmark will aim to reveal information about the data
<a href="https://en.wikipedia.org/wiki/Cache_(computing)">cache</a>. In
particular we are interested in the number of cache levels and the size of each
level. Here we measure the time it takes to perform a randomized
<a href="https://en.wikichip.org/wiki/pointer_chasing">pointer chase</a> of a
fixed length. Each iteration the amount of memory the pointer chase iterates
over is increased. When a cache level is satisfied, we expect a higher execution
time the following iterations. An implementation of the same algorithm is
explained in more detail
<a href="https://github.com/afborchert/pointer-chasing">here</a>.
<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block buttons %}
<button
  id="startButton"
  type="button"
  class="btn btn-primary btn-lg"
  onclick="calculatePrecision(CanvasJS)"
>
  Start profiler
</button>
{% endblock %}

<!-- prettier-ignore -->
{% block interpretation %}
<h5>How to interpret these results.</h5>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, inventore
  velit adipisci accusamus consequatur numquam porro totam, eius dolor iure
  repudiandae. Totam perspiciatis, nulla accusamus officia fugit rem natus
  ipsam.
</p>
{% endblock %}

<!-- prettier-ignore -->
{% block sourcecode %}
<p style="padding: 2rem">
  The source code of this benchmark can be viewed
  <a href="/static/misc/timer/precision.js">here (JS)</a>.
</p>
{% endblock %}
