<!-- prettier-ignore -->
{% extends "profiler.html" %} 

{% block headline %} TLB Size {% endblock %}

{% block scripts %} {% load static %}
<script src="{% static 'tlb/tlbSize.js' %}"></script>
{% endblock %}

<!-- prettier-ignore -->
{% block text %} 
This benchmark will aim to reveal information about the data
<a href="https://en.wikipedia.org/wiki/Cache_(computing)">cache</a>. In
particular we are interested in the number of cache levels and the size of each
level. Here we measure the time it takes to perform a randomized
<a href="https://en.wikichip.org/wiki/pointer_chasing">pointer chase</a> of a
fixed length. Each iteration the amount of memory the pointer chase iterates
over is increased. When a cache level is satisfied, we expect a higher execution
time the following iterations. An implementation of the same algorithm is
explained in more detail
<a href="https://github.com/afborchert/pointer-chasing">here</a>.
<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block buttons %}
<button
  id="startButton"
  type="button"
  class="btn btn-primary btn-lg"
  onclick="calculateTLBSize(CanvasJS)"
>
  Start profiler
</button>
{% endblock %}

<!-- prettier-ignore -->
{% block interpretation %}
<h5>How to interpret these results.</h5>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, reiciendis
  alias quis voluptas, accusamus recusandae quisquam ullam tenetur debitis
  fugiat nesciunt deleniti enim sunt necessitatibus repellat quaerat expedita
  officia itaque, asperiores dolores optio suscipit. Officiis, voluptates
  reprehenderit est voluptas unde molestias a, rerum veritatis iusto similique
  sequi praesentium, dolorem aut enim voluptatem pariatur corrupti quam adipisci
  laboriosam explicabo exercitationem nesciunt? Quas corporis animi, mollitia,
  odio quaerat error incidunt libero molestiae ipsum harum dolorem quibusdam
  accusantium amet. Facilis, officiis quia exercitationem laborum dolor ab,
  suscipit minima consequuntur perferendis ut at? Corrupti dicta ipsum eligendi
  hic modi impedit aliquam error quia ipsam.
</p>
{% endblock %}

<!-- prettier-ignore -->
{% block sourcecode %}
<p style="padding: 2rem">
  The source code of this benchmark can be viewed
  <a href="/static/tlb/tlbsizeFinder.js">here (JS)</a> and
  <a href="/static/wasm/size.wat">here (WASM)</a>
</p>
{% endblock %}
